* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/wire_bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

form {
  text-align: center;
  position: relative;
  top: -0.5em;
  right: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  margin-bottom: 1.5em;
}

.table {
  display: table;
  width: auto;
  margin: auto;
  font-family: 'Work Sans', sans-serif;
}

@keyframes fadeout{
  from{ transform: translateY(0)}
  to { transform: translateX(300px);}
}

.table-head {
  text-align: center;
  font-size: 14px;
}


.table-cell {
  padding-left: 1em;
  display: table-column;
  float: left;
  width: 225px;
  font-weight: 300;
}

.table-row {
  display: table-row;
  width: auto;
}

.table-count {
  text-align: center;
  margin-right: -1em;
}

#main-heading {
  font-family: 'Pacifico', cursive;
  font-size: 6em;
  text-align: center;
  position: relative;
  top: .5em;
  right:15px;
  opacity: 0;
}

#input-size {
  width: 36%;
  height: 35px;
  border: none;
  margin-right: 12px;
}

#submit-button {
  background-color: #555555;
  color: #fff;
  width: 6em;
  height: 2.4em;
  border: none;
  font-size: 15px;
}



#error-msg {
  width: 200px;
  margin-left: 20em;
}

i {
  transform: translate(-5px, -1px);
  vertical-align: middle;
  color: #fff;
}

#input-label {
  color: #fff;
  background-color: #ff30de;
  display:inline;
  width: 100px;
  height: auto;
  padding: 6px;
}
