<html>
	<head>
		<title>Sinatra Framework</title>
		<link rel="stylesheet" href="css/abc.css">
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400|Pacifico" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	</head>
	<body>

		<%= yield %>
	</body>
</html>
